<div class="container">

    <!--Wallet information  part-->
    <div class="card">
        <div class="card-header">
            <h2>Votre wallet</h2>
        </div>
        <div class="card-body">
            <h4>Nom : {{ wallet.name }}</h4>
            <h4>ID : {{ wallet.id }}</h4>
            <h4>Supcoins : {{ wallet.amount }}</h4>
            <p *ngIf="wallet.mail != null" class="lead">Mail : {{ wallet.mail }}</p>
        </div>
    </div><br>

    <!--Wallet create transaction part-->
    <div class="card">
        <div class="card-header">
            <h2>Création d'une transaction</h2>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="inputReceiverId">ID du wallet de destination</label>
              <input type="number" class="form-control" id="inputReceiverId" aria-describedby="receiverIdHelp" placeholder="ID du destinataire" [(ngModel)]="trReceiverId" [ngModelOptions]="{standalone: true}" required>
              <small id="receiverIdHelp" class="form-text text-muted">L'ID du wallet cible de cette transaction.</small>
            </div>
            <div class="form-group">
              <label for="inputAmount">Montant de la transaction (en SupCoin)</label>
              <input type="number" class="form-control" id="inputAmount" placeholder="Montant" [(ngModel)]="trAmount" [ngModelOptions]="{standalone: true}" required>
            </div>
            <div class="form-group">
              <label for="inputMessage">Message a envoyer avec la transaction</label>
              <input type="text" class="form-control" id="inputMessage" aria-describedby="messageHelp" placeholder="Message accompagnant la transaction" [(ngModel)]="trMessage" [ngModelOptions]="{standalone: true}" required>
              <small id="messageHelp" class="form-text text-muted">Votre message sera crypté et lisible uniquement par le destinataire.</small>
            </div>
            <button class="btn btn-info" (click)="createTransaction()">Envoyer</button>
          </form>
          <br/>
          <div class="alert alert-danger" *ngIf="showAlert == true" role="alert">
            Une erruer est survenue, consultez la console de la blockchain pour plus d'information.
          </div>
        </div>
    </div><br>

    <!--Wallet transactions done-->
          <div>
            <h1>Transactions reçues</h1>
            <table id="receivedTable" class="table table-striped  table-sm col-lg-12 shadow-lg"
                   style="margin-top:1em; border-radius: 5px 5px;">
              <thead style="background-color:#00285c; border-top-left-radius: 40px 40px;">
                <tr>
                  <th class="text-center" scope="col" style="border-top: 0px;color:white; padding-bottom:0px">ID</th>
                  <th class="text-center" scope="col" style="border-top: 0px;color:white; padding-bottom:0px">Message</th>
                  <th class="text-center" scope="col" style="border-top: 0px;color:white; padding-bottom:0px">Montant</th>
                  <th class="text-center" scope="col" style="border-top: 0px;color:white; padding-bottom:0px">Id lanceur</th>
                  <th class="text-center" scope="col" style="border-top: 0px;color:white; padding-bottom:0px">Minée</th>
                  <th class="text-center" scope="col" style="border-top: 0px;color:white; padding-bottom:0px">Timestamp</th>
                  <th class="text-center" scope="col" style="border-top: 0px;color:white; padding-bottom:0px">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let t of receivedTransactions | paginate: { itemsPerPage: 10, currentPage: p }">
                  <th class="text-center" scope="row">{{t.id}}</th>
                  <td class="text-center">{{t.message.substring(0, 20)}}...</td>
                  <th class="text-center" scope="row">{{t.amount}}</th>
                  <td class="text-center">{{t.senderId}}</td>
                  <td class="text-center">{{t.mined}}</td>
                  <td class="text-center">{{t.timestamp}}</td>
                  <td class="text-center"><button class="btn btn-info" (click)="decryptTransaction(t.id,t.amount, t.senderId, t.mined, t.timestamp)" data-toggle="modal" data-target="#transactionModal">Lire</button></td>
                </tr>
              </tbody>
              <ul class="pagination">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </ul>
            </table>
            <h1>Transactions envoyées</h1>
            <table id="sendedTable" class="table table-striped  table-sm col-lg-12 shadow-lg"
                   style="margin-top:1em; border-radius: 5px 5px;">
              <thead style="background-color:#00285c; border-top-left-radius: 40px 40px;">
                <tr>
                  <th class="text-center" scope="col" style="border-top: 0px;color:white; padding-bottom:0px">ID</th>
                  <th class="text-center" scope="col" style="border-top: 0px;color:white; padding-bottom:0px">Message</th>
                  <th class="text-center" scope="col" style="border-top: 0px;color:white; padding-bottom:0px">Montant</th>
                  <th class="text-center" scope="col" style="border-top: 0px;color:white; padding-bottom:0px">Id receveur</th>
                  <th class="text-center" scope="col" style="border-top: 0px;color:white; padding-bottom:0px">Minée</th>
                  <th class="text-center" scope="col" style="border-top: 0px;color:white; padding-bottom:0px">Timestamp</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let t of sendedTransactions | paginate: { itemsPerPage: 10, currentPage: p }">
                  <th class="text-center" scope="row">{{t.id}}</th>
                  <td class="text-center">{{t.message.substring(0, 20)}}...</td>
                  <th class="text-center" scope="row">{{t.amount}}</th>
                  <td class="text-center">{{t.receiverId}}</td>
                  <td class="text-center">{{t.mined}}</td>
                  <td class="text-center">{{t.timestamp}}</td>
                </tr>
              </tbody>
              <ul class="pagination">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </ul>
            </table>           
          </div>
</div>

<div class="modal fade" id="transactionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



